<div class="header">
  <div class="container">
    <div class="header-wrap">
      <a href="#" class="logo">
        <img src="/assets/logo.svg" alt="WDCTS logo" class="header-logo">
      </a>
      <div class="header-links">
        <a href="/" class="header-link">Home</a>
        <a href="/login-page" class="header-link">Log In</a>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="text-center border border-light p-5">
        
          <h1 class="title"> Application </h1>
        
          <p>
            This is the burb of text use to encourage people to sign up for an account and being creating everything
            that they will need to come to the greatest place on earth by hearing the sound of the sevent trumpet and coming to the
            promise Kindom where the Him Who Overcomes is!
            
          </p>
          <a mdbBtn href="/login-page" class="btn btn-info my-4">Start</a>
        
        </form>
      </div>
    </div>
  </div>
</section>

