<div class="d-flex flex-column" style="height: calc(100vh - 76px);">
    <section class="w-100 flex-grow-1 pt-4" style="background-color: #eee;">
  
      <div class="container">
  
        <div class="row mb-2">
  
          <div class="card col-md-10 offset-md-1 mb-2">
  
            <div class="card-body">
  
                <div>
                    <section class="section text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex justify-content-center">
                                        <img src="/assets/logo.svg" alt="WDCTS logo" class="thank-you-logo mb-5">
                                    </div>
                                    <p class="feature-p mb-5">Thank You for submitting your application to Zion Theological Seminary. Your application is currently pending. Responses typically come within 48 hours. If you have any other questions please feel free to reach out to us at <a href="mailto:admin@washingtondctheologicalseminary.org">admin@washingtondctheologicalseminary.org</a>.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
