<div>
    <section class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="#">
                        <img src="/assets/full-white.svg" alt="WDCTS logo" class="col-12">
                    </a>
                    <p class="feature-p mb-5">Thank You for submitting your application to Zion Theological Seminary. Your application is currently pending. Responses typically come within 48 hours. If you have any other questions please feel free to reach out to us at email@provider.com.</p>
                </div>
            </div>
        </div>
    </section>
</div>