<div class="d-flex flex-column" style="height: calc(100vh - 76px);">
    <section class="w-100 flex-grow-1 pt-4" style="background-color: #eee;">
  
      <div class="container">
  
        <div class="row mb-2">
  
          <div class="card col-md-10 offset-md-1 mb-2">
  
            <div class="card-body">
  
                <div>
                    <section class="section text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                  <div class="d-flex justify-content-center LottieWrap">
                                    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_j0cpzhxz.json"  background="transparent"  speed="1" autoplay ></lottie-player>
                                  </div>
                                    <h1 class="title welcome-page-title mb-5">Gracias</h1>
                                    <p class="feature-p">Gracias por enviar su solicitud al Seminario. <strong>Busque una llamada telefónica o un correo electrónico de nuestra parte en las próximas 48 horas para programar una entrevista telefónica.</strong></p>
                                    <p class="feature-p">Como referencia, puede ver todo nuestro <a href="https://dctheologicalseminary.org/admissions/application-process">Proceso de Solicitud</a> en nuestro sitio web.</p>
                                    <p class="feature-p mb-5">Si tiene alguna otra pregunta, no dude en comunicarse con nosotros en <a href="mailto:admin@washingtondctheologicalseminary.org">admin@washingtondctheologicalseminary.org</a>.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
