<!-- currently not dry -->
<div class="header">
    <div class="container">
      <div class="header-wrap">
        <a href="#" class="logo">
          <img src="/assets/full-white.svg" alt="WDCTS logo" class="header-logo">
        </a>
        <div class="header-links">
          <a href="/" class="header-link">Home</a>
          <a href="/" class="header-link">Log Out</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="overview-page-wrapper">
    <section class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="title mb-5">Overview</h1>
                    <p class="feature-p mb-5">Start a new application</p>
                    <a href="/stepper-form" class="wBtn">New Application</a>
                </div>
            </div>
        </div>
    </section>
</div>