<ul>
    <li><a routerLink="/" routerLinkActive="active">Home / Landing Page: A1</a></li>
</ul>

<ul>
    <li><a routerLink="/create-account-page" routerLinkActive="active">Create Account Page: A2</a></li>
</ul>

<ul>
    <li><a routerLink="/login-page" routerLinkActive="active">Login Page: A3</a></li>
</ul>

<ul>
    <li><a routerLink="/overview" routerLinkActive="active">User Overview: A4</a></li>
</ul>

<ul>
    <li><a routerLink="/stepper-form" routerLinkActive="active">Step: A6</a></li>
</ul>

<ul>
    <li><a routerLink="/policy" routerLinkActive="active">policy</a></li>
</ul>
<router-outlet></router-outlet>