<div class="d-flex flex-column">
  <section class="w-100 flex-grow-1 pt-4" style="background-color: #eee;">

    <div class="container">

      <div class="row mb-2">

        <div class="card col-md-10 offset-md-1 mb-2">

          <div class="card-body">

            <section>
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <form class="text-center p-5">
                    
                      <h1 class="title welcome-page-title">Solicitud</h1>
                    
                      <p class="feature-p mb-4">
                        <strong>Gracias por dar los primeros pasos para aprender con el Seminario Teológico de Washington DC en la capital de la nación.</strong> El proceso de solicitud es una serie de preguntas con respecto a los antecedentes, la vida de fe y sus intenciones al completar el programa. Completar la solicitud tomará 15-25 minutos, y le animamos a que lo termine en ese tiempo. Si es necesario, podrá guardar su progreso y regresar más tarde para completarlo. Una vez que su solicitud haya sido completada y enviada, comenzaremos el proceso de revisión. Si tiene alguna pregunta, busque nuestra información de contacto en el sitio web principal.
                      </p>
                      <a routerLink="/application-form" class="WDCTS-button" mat-raised-button color="primary">Comienzo</a>
                    
                    </form>
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
