<div class="header">
  <div class="container">
    <div class="header-wrap">
      <a href="#" class="logo">
        <img src="/assets/full-white.svg" alt="WDCTS logo" class="header-logo">
      </a>
      <div class="header-links">
        <a href="/" class="header-link">Home</a>
        <a href="/login-page" class="header-link">Log In</a>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="text-center border border-light p-5">
        
          <h1 class="title welcome-page-title"> Application </h1>
        
          <p class="feature-p mb-4">
            <strong>Thank you for taking the first steps to learning with Washington D.C. Theological Seminary in the nation’s capital.</strong> The application process is a series of questions regarding background information, life of faith, and your intentions upon completion of the program. Completing the application will take 15-25 minutes, and we encourage you to finish it in that time. If necessary, you will be able to save your progress and return later to complete it. Once your application has been completed and submitted, we will begin the review process. If you have any questions, please find our contact information on the main website.
          </p>
          <a href="/login-page" class="wBtn">Start</a>
        
        </form>
      </div>
    </div>
  </div>
</section>

