<div class="d-flex flex-column" style="height: calc(100vh - 76px);">
    <section class="w-100 flex-grow-1 pt-4" style="background-color: #eee;">

        <div class="container">

            <div class="row mb-2">

                <div class="card col-md-10 offset-md-1 mb-2">

                    <div class="card-body">
                        <mat-horizontal-stepper [linear]="isLinear" #stepper>
                            <mat-step [stepControl]="this.ordersService.form">
                                <form [formGroup]="this.ordersService.form">
                                    <ng-template matStepLabel style="font-size:20px">Personal Infromation </ng-template>
                                    <mat-form-field style="padding-right: 10px;">
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="First name" formControlName="firstName" required>
                                    </mat-form-field>

                                    <mat-form-field style="padding-right: 10px;">
                                        <mat-label>Middle Name</mat-label>
                                        <input matInput placeholder="Middle name" formControlName="middleName" required>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Last name" formControlName="lastName" required>
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Email" formControlName="email" required>
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label>Date of Birth</mat-label>
                                        <input matInput formControlName="DOB" [matDatepicker]="picker" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label>Gender</mat-label>
                                        <mat-select formControlName="gender" none required>
                                            <mat-option value="Male">Male </mat-option>
                                            <mat-option value="Female">Female</mat-option>
                                        </mat-select>
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label>Occupation</mat-label>
                                        <input matInput placeholder="Occupation" formControlName="occupation" required>
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label>Marital Status</mat-label>
                                        <mat-select formControlName="maritalStatus" required>
                                            <mat-option value="Married">Married </mat-option>
                                            <mat-option value="Single">Single</mat-option>
                                        </mat-select>
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label> Address </mat-label>
                                        <input matInput placeholder="1 Main St" formControlName="addressOne" required>
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label> Address line 2 </mat-label>
                                        <input class="input" matInput placeholder="Aprt 1" formControlName="addressTwo">
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label> City </mat-label>
                                        <input matInput placeholder="Arlington / Town" formControlName="city" required>
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label> Zip Code </mat-label>
                                        <input matInput placeholder="Zip / Postal Code" formControlName="zipCode" required>
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label>Country</mat-label>
                                        <mat-select formControlName="country" required>
                                            <mat-option value="" selected="selected">(please select a country)</mat-option>
                                            <mat-option value="BZ">Belize</mat-option>
                                            <mat-option value="CL">Chile</mat-option>
                                            <mat-option value="DM">Dominica</mat-option>
                                            <mat-option value="DO">Dominican Republic</mat-option>
                                            <mat-option value="GY">Guyana</mat-option>
                                            <mat-option value="NI">Nicaragua</mat-option>
                                            <mat-option value="PA">Panama</mat-option>
                                            <mat-option value="PE">Peru</mat-option>
                                            <mat-option value="US">United States</mat-option>
                                            <mat-option value="UY">Uruguay</mat-option>
                                        </mat-select>
                                    </mat-form-field> <br />
                                    <div>
                                        <button mat-button matStepperNext>Next</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="this.ordersService.form" label="Faith and commitment">
                                <form [formGroup]="this.ordersService.form">
                                    <div style="padding-top:25px;"></div>
                                    <h1> Current Church Information </h1>
                                    <mat-form-field class="inputClass">
                                        <mat-label>Do you currently belong to a church?</mat-label>
                                        <mat-select formControlName="churchAttendance" required>
                                            <mat-option value="Yes">Yes </mat-option>
                                            <mat-option value="No">No</mat-option>
                                        </mat-select>
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label>What is the name of your current church </mat-label>
                                        <input matInput placeholder="Church Name " formControlName="ChurchName" required>
                                    </mat-form-field> <br />

                                    <div style="padding-bottom:10px;">
                                        <mat-form-field class="inputClass">
                                            <mat-label>Do you currently belong to a church?</mat-label>
                                            <mat-select formControlName="churchLeadership" required>
                                                <mat-option value="Head Pastor">Head Pastor </mat-option>
                                                <mat-option value="Pastor (Not Head)">Pastor (Not Head)</mat-option>
                                                <mat-option value="Deacon/Deaconess">Deacon/Deaconess</mat-option>
                                                <mat-option value="Congregation">Congregation</mat-option>
                                                <mat-option value="Other">Other</mat-option>
                                            </mat-select>
                                        </mat-form-field> <br />
                                    </div>

                                    <mat-label style="font-size:16px;">If you are a head pastor, what is your congregation size?</mat-label> <br />
                                    <div style="padding-top:10px;">
                                        <mat-radio-group class="radioButtons" formControlName="churchSize" required>
                                            <mat-radio-button value="1 - 50 "> 1 - 50 </mat-radio-button><br />
                                            <mat-radio-button value="51 - 100 "> 51 - 100 </mat-radio-button> <br />
                                            <mat-radio-button value="100 - 200"> 100 - 200 </mat-radio-button> <br />
                                            <mat-radio-button value="200 - 300"> 200 - 300 </mat-radio-button> <br />
                                            <mat-radio-button value="300 - 400"> 300 - 400 </mat-radio-button> <br />
                                            <mat-radio-button value="More then 400"> More then 400 </mat-radio-button>

                                        </mat-radio-group> <br />
                                    </div>
                                    <mat-form-field class="inputClass">
                                        <mat-label>With which denomination is your church affiliated with?</mat-label>
                                        <mat-select formControlName="churchRole" required>
                                            <mat-option value="one">Head Pastor </mat-option>
                                            <mat-option value="two">Pastor (Not Head)</mat-option>
                                            <mat-option value="three">Deacon/Deaconess</mat-option>
                                            <mat-option value="forth">Congregation</mat-option>
                                            <mat-option value="fifth">Other</mat-option>
                                        </mat-select>
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label>Country</mat-label>
                                        <mat-select formControlName="countryTwo" required>
                                            <mat-option value="" selected="selected">(please select a country)</mat-option>
                                            <mat-option value="BZ">Belize</mat-option>
                                            <mat-option value="CL">Chile</mat-option>
                                            <mat-option value="DM">Dominica</mat-option>
                                            <mat-option value="DO">Dominican Republic</mat-option>
                                            <mat-option value="GY">Guyana</mat-option>
                                            <mat-option value="NI">Nicaragua</mat-option>
                                            <mat-option value="PA">Panama</mat-option>
                                            <mat-option value="PE">Peru</mat-option>
                                            <mat-option value="US">United States</mat-option>
                                            <mat-option value="UY">Uruguay</mat-option>
                                        </mat-select>
                                    </mat-form-field> <br />

                                    <mat-form-field class="inputClass">
                                        <mat-label> City </mat-label>
                                        <input matInput placeholder="Arlington / Town" formControlName="cityTwo" required>
                                    </mat-form-field> <br />

                                    <mat-label style="font-size:16px;">How long (in years) have you been affiliated with your church?</mat-label> <br />
                                    <div style="padding-top:10px; padding-bottom:10px;">
                                        <mat-radio-group formControlName="attendanceLength" required>
                                            <mat-radio-button value="1"> 1 - 5 years </mat-radio-button><br />
                                            <mat-radio-button value="2"> 5 - 10 years </mat-radio-button> <br />
                                            <mat-radio-button value="3"> 10 - 15 years </mat-radio-button> <br />
                                            <mat-radio-button value="4"> 15 - 20 years </mat-radio-button> <br />
                                            <mat-radio-button value="5"> 20 - 25 years </mat-radio-button> <br />
                                            <mat-radio-button value="6"> More then 25 years </mat-radio-button>

                                        </mat-radio-group> <br />
                                    </div>
                                    <mat-label>
                                        <mat-label>
                                            Please paste a Statement of Purpose (no less than 150 words) demonstrating your commitment to studying through the duration of the program along with your goals and purpose for studying with Washington D.C. Theological Seminary.
                                        </mat-label>
                                        <br /> <br/>
                                        <div>
                                            <textarea required class="col-12" style="height: 100px;" formControlName="statementPurpose"> </textarea>
                                        </div>

                                    </mat-label>
                                    <div>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button matStepperNext>Next</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="this.ordersService.form" label="Supplimental Information">
                                <form [formGroup]="this.ordersService.form">
                                    <div style="padding-top:25px;"></div>
                                    <mat-form-field class="inputClass">
                                        <mat-label>Do you have consistent access to the internet?</mat-label>
                                        <mat-select formControlName="internetAccess" required>
                                            <mat-option value="Yes">Yes </mat-option>
                                            <mat-option value="No">No</mat-option>
                                        </mat-select>
                                    </mat-form-field> <br /> <br />

                                    <mat-label>How and by whom/what did you hear about us (Please be specific)? </mat-label>
                                    <div>
                                        <textarea class="col-12" style="height: 100px;" formControlName="refferencePoint" required> </textarea>
                                    </div>
                                    <br />

                                    <mat-label>Do you know anyone studying at WDCTS? </mat-label>
                                    <div>
                                        <textarea class="col-12" style="height: 100px;" formControlName="anyoneStudyingNow" required> </textarea>
                                    </div>
                                    <br />
                                    <div>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button matStepperNext>Next</button>
                                    </div>
                                </form>
                            </mat-step>

                            <mat-step>
                                <ng-template matStepLabel>Confirmation and Submission</ng-template>
                                <div style="padding: 50px;">
                                    <p>
                                        I certify that to the best of my knowledge the information provided in this application for Washington D.C. Theological Seminary is accurate. I fully understand that if this information or any other information upon which my admission is based is found
                                        to be inaccurate or incomplete, WDCTS may rescind my application or degree. If I am approved for admission and decide to enroll at WDCTS, I agree to abide by the rules and regulations of the institution as stated
                                        in the Academic Catalog."
                                    </p>
                                    <mat-radio-button value="Agree"> Agree </mat-radio-button> <br /> <br />
                                    <button mat-button matStepperPrevious>Back</button>
                                    <a href="/thank-you" class="submitbutton" (click)="onSubmit()">Submit</a>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>