<div class="d-flex flex-column" style="height: calc(100vh - 76px);">
  <section class="w-100 flex-grow-1 pt-4" style="background-color: #eee;">

    <div class="container">

      <div class="row mb-2">

        <div class="card col-md-10 offset-md-1 mb-2">

          <div class="card-body">
            <mat-horizontal-stepper [linear]="isLinear" #stepper>
              <mat-step [stepControl]="this.ordersService.form">
                <form [formGroup]="this.ordersService.form">
                  <ng-template matStepLabel style="font-size:25px">Información Personal </ng-template>

                  <mat-form-field style="padding-right: 20px;">
                    <mat-label>Primer Nombre</mat-label>
                    <input matInput placeholder="First name" formControlName="firstName" required>
                  </mat-form-field>

                  <mat-form-field style="padding-right: 20px;">
                    <mat-label>Segundo Nombre</mat-label>
                    <input matInput placeholder="Middle name" formControlName="middleName" required>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Apellido</mat-label>
                    <input matInput placeholder="Last name" formControlName="lastName" required>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput placeholder="Email" formControlName="email" type="email"  ngModel email="true"
                    required>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label> Dirección </mat-label>
                    <input matInput placeholder="1 Main St" formControlName="addressOne" required>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label> Ciudad </mat-label>
                    <input matInput placeholder="Arlington / Town" formControlName="city" required>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label> Estado </mat-label>
                    <input matInput placeholder="State" formControlName="state" required>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label>País de residencia actual</mat-label>
                    <mat-select formControlName="country" required>
                      <mat-option value="" selected="selected">(Por favor seleccione un país)</mat-option>
                      <mat-option value="US">Estados Unidos</mat-option>
                      <mat-option value="BZ">Belice</mat-option>
                      <mat-option value="CL">Chile</mat-option>
                      <mat-option value="DM">Dominica</mat-option>
                      <mat-option value="DO">República Dominicana</mat-option>
                      <mat-option value="GY">Guayana</mat-option>
                      <mat-option value="NI">Nicaragua</mat-option>
                      <mat-option value="PA">Panamá</mat-option>
                      <mat-option value="PE">Perú</mat-option>
                      <mat-option value="UY">Uruguay</mat-option>
                    </mat-select>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label>País de ciudadanía actual</mat-label>
                    <mat-select formControlName="countryCitizenship" required>
                      <mat-option value="" selected="selected">(Por favor seleccione un país)</mat-option>
                      <mat-option value="US">Estados Unidos</mat-option>
                      <mat-option value="BZ">Belice</mat-option>
                      <mat-option value="CL">Chile</mat-option>
                      <mat-option value="DM">Dominica</mat-option>
                      <mat-option value="DO">República Dominicana</mat-option>
                      <mat-option value="GY">Guayana</mat-option>
                      <mat-option value="NI">Nicaragua</mat-option>
                      <mat-option value="PA">Panamá</mat-option>
                      <mat-option value="PE">Perú</mat-option>
                      <mat-option value="UY">Uruguay</mat-option>
                    </mat-select>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label>Nivel de competencia en inglés</mat-label>
                    <mat-select formControlName="englishProficiency" required>
                      <mat-option value="Limited proficiency ">Competencia limitada</mat-option>
                      <mat-option value="Adiquate proficiency">Competencia adecuada </mat-option>
                      <mat-option value="Professional proficiency">Competencia profesional</mat-option>
                    </mat-select>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label> Otros idiomas hablados con fluidez </mat-label>
                    <input matInput placeholder="Other languages spoken fluently" formControlName="otherLanguages" required>
                  </mat-form-field> <br />
                  <mat-form-field class="inputClass">
                    <mat-label>Fecha de cumpleaños</mat-label>
                    <input matInput formControlName="DOB" [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label>Número de teléfono (si está fuera de los EE. UU., proporcione su número de WhatsApp)</mat-label>
                    <input matInput placeholder="Primary Phone Number (If outside the USA please provide your Whatsapp number)" formControlName="phoneNumber" type="number" required>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label>Género</mat-label>
                    <mat-select formControlName="gender" none required>
                      <mat-option value="Male">Masculino </mat-option>
                      <mat-option value="Female">Mujer</mat-option>
                    </mat-select>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label>Detalles Étnicos</mat-label>
                    <mat-select formControlName="ethnicDetail" none required>
                      <mat-option value="Hispanic or Latino">Hispanic or Latino</mat-option>
                      <mat-option value="Not Hispanic or Latin">Not Hispanic or Latin</mat-option>
                    </mat-select>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label>¿Cuál es su origen étnico? (Seleccione uno o más que correspondan)</mat-label>
                    <mat-select formControlName="ethnic" none required>
                      <mat-option value="White">Blanca </mat-option>
                      <mat-option value="Black or African American">Negro o afroamericano</mat-option>
                      <mat-option value="American Indian/Alaska Native">Indio americano / nativo de Alaska</mat-option>
                      <mat-option value="Asian">Asiático</mat-option>
                      <mat-option value="Native Hawaiian/Pacific Islander">Nativo Hawaiano / Isleño del Pacífico</mat-option>
                      <mat-option value="Two or more races">Dos o más etnias</mat-option>
                      <mat-option value="Prefer not to say">Prefiero no decirlo</mat-option>
                    </mat-select>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label>Ocupación</mat-label>
                    <input matInput placeholder="Occupation" formControlName="occupation" required>
                  </mat-form-field> <br />

                  <mat-form-field class="inputClass">
                    <mat-label>Estado civil</mat-label>
                    <mat-select formControlName="maritalStatus" required>
                      <mat-option value="Married">Casado </mat-option>
                      <mat-option value="Single">Soltero</mat-option>
                      <mat-option value="Engaged">Comprometido</mat-option>
                      <mat-option value="In a Relationship">En una relación</mat-option>
                      <mat-option value="Separated">Apartado</mat-option>
                      <mat-option value="Divorced">Divorciado</mat-option>
                      <mat-option value="Widowed">Viudo</mat-option>
                    </mat-select>
                  </mat-form-field> <br />

                  <mat-form-field style="width:550px;">
                    <mat-label>¿Hay algún ajuste especial que se necesite durante el programa?</mat-label>
                    <mat-select formControlName="specialAccomidations" required>
                      <mat-option value="Yes">Sí </mat-option>
                      <mat-option value="No">No</mat-option>
                    </mat-select>

                  </mat-form-field> <br />
                  <div *ngIf="this.ordersService.form.value.specialAccomidations == 'Yes'">
                    <textarea class="col-6 " style="height: 100px;" placeholder="If yes please explain. Why we ask: “This is to ensure that we are able to provide an equal opportunity of learning for any and all applicants who are accepted, and for us to know how a student can be best accommodated if possible.”"
                              formControlName="specialAccomidationsExplain" required> </textarea>
                  </div>

                  <mat-form-field class="inputClass">
                    <mat-label>¿Alguna vez ha sido condenado por algún delito?</mat-label>
                    <mat-select formControlName="previousConviction" required>
                      <mat-option value="Yes">Sí </mat-option>
                      <mat-option value="No">No</mat-option>
                    </mat-select>
                  </mat-form-field> <br />
                  <div *ngIf="this.ordersService.form.value.previousConviction == 'Yes'">
                    <textarea class="col-6 " style="height: 100px;" placeholder="If yes please explain, " formControlName="previousConvictionExplain" required> </textarea>
                  </div> <br />

                  <div>
                    <button mat-raised-button class="WDCTS-button" color="primary" matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>

              <-- Faith and commitment -->

                <mat-step [stepControl]="this.ordersService.form" label="Fe y compromiso">
                  <form [formGroup]="this.ordersService.form">


                    <h1> Información Actual de la Iglesia </h1>

                    <mat-form-field class="inputClass">
                      <mat-label>¿Cuál es el nombre de su iglesia actual?</mat-label>
                      <input matInput placeholder="Church Name " formControlName="ChurchName" required>
                    </mat-form-field> <br />

                    <mat-form-field class="inputClass">
                      <mat-label>¿Cuál es su papel dentro de la iglesia? </mat-label>
                      <mat-select formControlName="churchRole" required>
                        <mat-option value="one">Pastor principal</mat-option>
                        <mat-option value="two">Pastor (No principal)</mat-option>
                        <mat-option value="three">Diácono / Diaconisa</mat-option>
                        <mat-option value="forth">Miembro de la Congregación</mat-option>
                        <mat-option value="fifth">Otro</mat-option>
                      </mat-select>
                    </mat-form-field> <br />

                    <mat-form-field class="inputClass">
                      <mat-label>Si es un pastor principal, ¿cuántos miembros de la congregación tiene actualmente su iglesia? (Nota: esto solo incluye a los miembros de la congregación de 18 años en adelante)</mat-label>
                      <input matInput placeholder="Church Size" formControlName="churchSize" required>
                    </mat-form-field> <br />

                    <mat-form-field class="inputClass">
                      <mat-label>¿Con qué denominación está afiliada su iglesia?</mat-label>
                      <input matInput placeholder="(e.g. Baptist, Presbyterian, Nondenominational, etc.)" formControlName="denomination" required>
                    </mat-form-field> <br />

                    <mat-form-field class="inputClass">
                      <mat-label>Ubicación de la iglesia actual (ciudad, país)</mat-label>
                      <input matInput placeholder="(City, Country)" formControlName="ChurchLocation" required>
                    </mat-form-field> <br />

                    <mat-label style="font-size:16px;">¿Cuánto tiempo (en años) ha estado afiliado a su iglesia?</mat-label> <br />
                    <div style="padding-top:10px; padding-bottom:10px;">
                      <mat-radio-group formControlName="attendanceLength" required>
                        <mat-radio-button value="1"> 1 - 5 años </mat-radio-button><br />
                        <mat-radio-button value="2"> 5 - 10 años </mat-radio-button> <br />
                        <mat-radio-button value="3"> 10 - 15 años </mat-radio-button> <br />
                        <mat-radio-button value="4"> 15 - 20 años </mat-radio-button> <br />
                        <mat-radio-button value="5"> 20 - 25 años </mat-radio-button> <br />
                        <mat-radio-button value="6"> More then 25 años </mat-radio-button>

                      </mat-radio-group> <br />

                      <div style="padding-bottom:10px;">
                        <mat-form-field class="inputClass">
                          <mat-label>¿Cuánto tiempo ha sido creyente?</mat-label>
                          <input matInput placeholder="Years" formControlName="yearsOfBeingABeliever" required>
                        </mat-form-field> <br />
                      </div>

                    </div>
                    <mat-label>
                      <mat-label>
                        Por favor pegue una Declaración de propósito (mínimo 150 palabras) que demuestre su compromiso de estudiar durante la duración del programa junto con sus metas y propósito para estudiar con el Seminario Teológico de Washington D.C.
                      </mat-label>
                      <br /> <br />
                      <div>
                        <textarea  class="col-12" style="height: 100px;" formControlName="statementPurpose" required> </textarea>
                      </div>

                    </mat-label>
                    <div class="mt-4">
                      <button mat-button matStepperPrevious class="mr-3">Back</button>
                      <button mat-raised-button class="WDCTS-button" color="primary" matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="this.ordersService.form" label="Información Suplementaria">
                  <form [formGroup]="this.ordersService.form">
                    <div style="padding-top:25px;"></div>

                    <mat-form-field class="inputClass">
                      <mat-label>¿Tiene acceso constante a Internet?</mat-label>
                      <mat-select formControlName="internetAccess" required>
                        <mat-option value="Yes">Sí </mat-option>
                        <mat-option value="No">No</mat-option>
                      </mat-select>
                    </mat-form-field> <br /> <br />

                    <mat-label>¿Cómo y por quién se enteró de nosotros? (sea específico) </mat-label>
                    <div>
                      <textarea class="col-12 " style="height: 100px; " formControlName="refferencePoint" required> </textarea>
                    </div>
                    <br />

                    <mat-label>¿Conoce a alguien que esté estudiando en WDCTS?</mat-label>
                    <div>
                      <textarea class="col-12 " style="height: 100px; " formControlName="anyoneStudyingNow" required> </textarea>
                    </div>
                    <br />
                    <div>
                      <button mat-button matStepperPrevious class="mr-3">Previo</button>
                      <button mat-raised-button class="WDCTS-button" color="primary" matStepperNext>Siguiente</button>
                    </div>
                  </form>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Enviar</ng-template>
                  <div style="padding: 50px; ">
                    <p>
                      "Certifico que, a mi leal saber y entender, la información proporcionada en esta solicitud para el Seminario Teológico de Washington DC es precisa. Entiendo plenamente que si esta información o cualquier otra información en la que se basa mi admisión se determina que es inexacta o incompleta, WDCTS puede rescindir mi solicitud o título. Si me aprueban la admisión y decido inscribirme en WDCTS, acepto cumplir con las reglas y regulaciones de la institución como se indica en el Catálogo Académico."
                    </p>
                    <mat-radio-button value="De Acuerdo"> De Acuerdo </mat-radio-button> <br /> <br />
                    <a mat-raised-button color="primary" routerLink="/thank-you" class="submitbutton WDCTS-button" (click)="onSubmit()">Enviar</a>
                  </div>
                </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
